services:
  - type: web
    name: smart-research-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: GROQ_API_KEY
        sync: false
      - key: DEEPGRAM_API_KEY
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: SECRET_KEY
        generateValue: true
